.rounded-circle {
  border-radius: 50%;
}

.rounded-0 {
  border-radius: 0 !important;
}

.border-none {
  border: 0 !important;
}

.opacity-0 {
  opacity: 0;
}

.plain-input {
  -webkit-appearance: none;
  resize: none;
  border: 0;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}

.plain-button {
  -webkit-appearance: none;
  border: 0;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}
