// 覆盖mint-ui默认样式
@import './global';
body {
  // 按钮
  .mint-button {
    background-color: $color-yellow;
    color: $color-dark;
    border-radius: 0;
    height: 11.733vw;
    font-size: 4.266vw;
    width: 100%;
    border-radius: 0.53333vw;
    &.mint-button--default {
      background-color: $color-dark;
      color: #fff;
      .mint-button-text{
        color: #fff;
      }
      &.is-plain{
        background-color: transparent;
        color: #3d3d3d;
        border: 1px solid #979797;
        .mint-button-text{
          color: #3d3d3d;
        }
      }
    }
    &.mint-button--primary {
      background-color: $color-yellow;
      color: $color-dark;
    }
    &.mint-button--dark{
      background-color: $color-dark;
      color: #fff;
      .mint-button-text{
        color: #fff;
      }
    }
    &.mint-button--small{
      font-size: 3.73333vw;
      height: 9.86667vw;
    }
    &.inline-btn{
      width: auto;
      display: inline-block;
    }
  }
  .mint-button:not(.is-disabled):active::after {
    opacity: .2;
  }

  // 对话框
  .mint-msgbox {
    border-radius: 12px;
    background-color: rgba(252, 252, 252, 0.95);
    width: 72%;
    // .mint-msgbox-header {
    //   display: none;
    // }
    .mint-msgbox-content {
      // padding: 30px 25px 25px;
      .mint-msgbox-input {
        margin-bottom: -15px;
      }
    }
    .mint-msgbox-message {
      font-size: 14px;
      color: $color-dark;
      line-height: 20px; // text-align: left;
    }
    .mint-msgbox-btns {
      height: 45px;
    }
    .mint-msgbox-btn {
      font-size: 16px;
      background-color: transparent;
    }
    .mint-msgbox-cancel {
      color: $color-dark;
    }
    .mint-msgbox-confirm {
      color: $color-dark;
      font-weight: bold;
      &:active {
        color: darken($color-dark, 3%);
      }
    }
  }


  .mint-toast {
    background-color: RGBA(96, 96, 96, 0.8);
    border-radius: 8px;
  }


  .mint-radio-input:checked+.mint-radio-core {
    background-color: $color-yellow;
    border-color: $color-yellow;
  }

  
  .mint-navbar {
    .mint-tab-item {
      margin: 0 2vw;
      padding: 3vw 0;
      &.is-selected {
        border-bottom: 3px solid $color-yellow;
        color: $color-yellow;
      }
    }
    .mint-tab-item-label {
      font-size: 3.6vw;
    }
  }

  // 单选按钮
  .mint-radiolist-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mint-radio{
    order: 2;
  }
  .mint-radio-label{
    order: 1;
  }
}
